@charset "UTF-8";
/* Fonts includer */
@font-face {
  font-family: "museo-sans";
  src: url("../fonts/museosans-500.eot");
  src: url("../fonts/museosans-500.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-500.woff") format("truetype"), url("../fonts/museosans-500.woff2") format("woff"), url("../fonts/museosans-500.ttf") format("woff2");
  font-weight: 500;
  font-style: "normal"; }

/*
 * Add here values that
 * affect the whole proyect
 */
/**
 * Extends
 * Place here in alphabetic order.
 * Abstract classes to extend.
 */
.row:before, .row:after {
  display: table;
  content: ''; }

.row:after {
  clear: both; }

.btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  margin: 0;
  box-shadow: none;
  background: none;
  border: 0;
  border-radius: 0; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

.header.-title:before, .header.-main-title:before,
.text.-title:before,
.text.-main-title:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

@-webkit-keyframes standard {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes standard {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*
 * General rules for all hover the proyect
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  font-family: "museo-sans", Helvetica, Arial, sans-serif;
  color: #5B5D62;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  background-color: #fff; }

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6; }
  p + p {
    margin-top: 45px; }

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: 0; }

a {
  text-decoration: none;
  color: #5B5D62; }

ul, ol {
  padding: 45px 0 0 45px; }
  ul li, ol li {
    margin-bottom: 20px; }
  ul li p, ol li p {
    color: #5B5D62; }

ul li {
  list-style-type: disc;
  color: #009DA5; }

ol li {
  list-style-type: decimal;
  color: #009DA5; }

img {
  max-width: 100%; }

iframe {
  display: block;
  margin: 0 auto;
  margin-bottom: 45px; }

.image {
  margin: 65px 0; }

.is-flex {
  display: flex;
  display: -ms-box; }

.is-bold {
  font-weight: bold; }

.m-map {
  width: 100%;
  height: 400px;
  background-image: url("../images/map.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.header.-plain,
.text.-plain {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6; }
  .header.-plain + .header.-plain,
  .text.-plain + .header.-plain, .header.-plain +
  .text.-plain,
  .text.-plain +
  .text.-plain {
    margin-top: 45px; }

.header.-margin,
.text.-margin {
  margin-bottom: 45px; }

.header.-margin-top,
.text.-margin-top {
  margin-top: 45px !important; }

.header.-no-margin,
.text.-no-margin {
  margin: 0 !important; }

.header + .m-buttons-wrapper,
.text + .m-buttons-wrapper {
  margin-top: 38px; }

.header.-no-padding,
.text.-no-padding {
  padding: 0 !important; }

.header.-title, .header.-main-title,
.text.-title,
.text.-main-title {
  position: relative;
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.2;
  text-align: center;
  margin-top: 30px;
  padding: 60px 0; }
  .header.-title:before, .header.-main-title:before,
  .text.-title:before,
  .text.-main-title:before {
    content: "";
    top: 0;
    width: 140px;
    height: 5px;
    background-color: black; }
  .header.-title.-light:before, .header.-main-title.-light:before,
  .text.-title.-light:before,
  .text.-main-title.-light:before {
    background-color: #fff; }
  .header.-title.-dark:before, .header.-main-title.-dark:before,
  .text.-title.-dark:before,
  .text.-main-title.-dark:before {
    background-color: #5B5D62; }
  .header.-title.-highlighted:before, .header.-main-title.-highlighted:before,
  .text.-title.-highlighted:before,
  .text.-main-title.-highlighted:before {
    background-color: #009DA5; }

.header.-main-title,
.text.-main-title {
  font-size: 70px; }

.header.-subtitle,
.text.-subtitle {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.25;
  letter-spacing: 2px;
  text-transform: uppercase; }

.header.-quote,
.text.-quote {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  padding: 75px 30px;
  margin-left: 20px;
  border-top: 5px solid #009DA5;
  border-bottom: 5px solid #009DA5; }
  .header.-quote:after, .header.-quote:before,
  .text.-quote:after,
  .text.-quote:before {
    position: absolute;
    font-size: 70px;
    font-weight: 700;
    line-height: 1em;
    color: #009DA5; }
  .header.-quote:before,
  .text.-quote:before {
    content: "“";
    top: 20px; }
  .header.-quote:after,
  .text.-quote:after {
    content: "”";
    bottom: 20px;
    right: 30px; }

.header.-center,
.text.-center {
  text-align: center; }

.header.-light,
.text.-light {
  color: #fff; }

.header.-dark,
.text.-dark {
  color: #5B5D62; }

.header.-highlighted,
.text.-highlighted {
  color: #009DA5; }

.header a,
.text a {
  color: #009DA5;
  font-weight: bold; }

strong {
  color: #009DA5; }

.link {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase; }

.header + .text {
  margin-top: 45px; }

.text + .text {
  margin-top: 45px; }

.text + .header {
  margin-top: 45px; }

ul + .text {
  margin-top: 45px; }

.btn {
  padding: 14px 20px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31; }
  .btn + .btn {
    margin-left: 10px; }
  p + .btn {
    padding-top: 40px; }
  .btn.-primary {
    background-color: #fff;
    color: #009DA5; }

.m-buttons-wrapper {
  text-align: center; }

section {
  padding-bottom: 105px; }

.l-header,
.l-know-more {
  position: relative;
  padding: 130px 0 120px;
  background-size: cover; }
  .l-header:before,
  .l-know-more:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 157, 165, 0.75); }
  .l-header .-subtitle,
  .l-know-more .-subtitle {
    padding-bottom: 90px;
    text-align: center; }

.l-header.-main {
  background-image: url("../images/img-1.jpg"); }

.l-know-more:before {
  background-color: #009da5; }

.l-index {
  padding: 20px 0;
  text-align: center;
  background-color: #009da5; }
  .l-index ul {
    padding: 0; }
  .l-index li {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 20px; }
    .l-index li a {
      color: #fff; }

.l-main {
  padding-top: 100px; }

.l-higlight {
  margin: 82px 0 63px; }
  .l-higlight .-subtitle {
    margin-bottom: 20px; }

.l-blockquote {
  margin: 45px 0 80px; }

.l-blogs,
.l-events {
  padding-bottom: 0; }

.wrap {
  display: block;
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 0; }
  @media screen and (min-width: 1200px) {
    .wrap {
      padding: 0 0; } }

.row {
  position: relative;
  margin: 0 -1%; }

.grid-1,
.grid-s-1,
.grid-m-1,
.grid-l-1,
.grid-xl-1, .grid-2,
.grid-s-2,
.grid-m-2,
.grid-l-2,
.grid-xl-2, .grid-3,
.grid-s-3,
.grid-m-3,
.grid-l-3,
.grid-xl-3, .grid-4,
.grid-s-4,
.grid-m-4,
.grid-l-4,
.grid-xl-4, .grid-5,
.grid-s-5,
.grid-m-5,
.grid-l-5,
.grid-xl-5, .grid-6,
.grid-s-6,
.grid-m-6,
.grid-l-6,
.grid-xl-6, .grid-7,
.grid-s-7,
.grid-m-7,
.grid-l-7,
.grid-xl-7, .grid-8,
.grid-s-8,
.grid-m-8,
.grid-l-8,
.grid-xl-8, .grid-9,
.grid-s-9,
.grid-m-9,
.grid-l-9,
.grid-xl-9, .grid-10,
.grid-s-10,
.grid-m-10,
.grid-l-10,
.grid-xl-10, .grid-11,
.grid-s-11,
.grid-m-11,
.grid-l-11,
.grid-xl-11, .grid-12,
.grid-s-12,
.grid-m-12,
.grid-l-12,
.grid-xl-12 {
  float: left;
  padding: 0 1%;
  position: relative;
  min-height: 1px; }

/*
 * Use this one if you don´t need adaptative grid
 */
.grid-1 {
  width: 8.33333%; }

.offset-1 {
  margin-left: 8.33333%; }

.grid-2 {
  width: 16.66667%; }

.offset-2 {
  margin-left: 16.66667%; }

.grid-3 {
  width: 25%; }

.offset-3 {
  margin-left: 25%; }

.grid-4 {
  width: 33.33333%; }

.offset-4 {
  margin-left: 33.33333%; }

.grid-5 {
  width: 41.66667%; }

.offset-5 {
  margin-left: 41.66667%; }

.grid-6 {
  width: 50%; }

.offset-6 {
  margin-left: 50%; }

.grid-7 {
  width: 58.33333%; }

.offset-7 {
  margin-left: 58.33333%; }

.grid-8 {
  width: 66.66667%; }

.offset-8 {
  margin-left: 66.66667%; }

.grid-9 {
  width: 75%; }

.offset-9 {
  margin-left: 75%; }

.grid-10 {
  width: 83.33333%; }

.offset-10 {
  margin-left: 83.33333%; }

.grid-11 {
  width: 91.66667%; }

.offset-11 {
  margin-left: 91.66667%; }

.grid-12 {
  width: 100%; }

.offset-12 {
  margin-left: 100%; }

/*
 * Use those ones if you need adaptative grid.
 * This is a mobile first grid.
 */
.grid-s-1 {
  width: 8.33333%; }

.offset-s-1 {
  margin-left: 8.33333%; }

.grid-s-2 {
  width: 16.66667%; }

.offset-s-2 {
  margin-left: 16.66667%; }

.grid-s-3 {
  width: 25%; }

.offset-s-3 {
  margin-left: 25%; }

.grid-s-4 {
  width: 33.33333%; }

.offset-s-4 {
  margin-left: 33.33333%; }

.grid-s-5 {
  width: 41.66667%; }

.offset-s-5 {
  margin-left: 41.66667%; }

.grid-s-6 {
  width: 50%; }

.offset-s-6 {
  margin-left: 50%; }

.grid-s-7 {
  width: 58.33333%; }

.offset-s-7 {
  margin-left: 58.33333%; }

.grid-s-8 {
  width: 66.66667%; }

.offset-s-8 {
  margin-left: 66.66667%; }

.grid-s-9 {
  width: 75%; }

.offset-s-9 {
  margin-left: 75%; }

.grid-s-10 {
  width: 83.33333%; }

.offset-s-10 {
  margin-left: 83.33333%; }

.grid-s-11 {
  width: 91.66667%; }

.offset-s-11 {
  margin-left: 91.66667%; }

.grid-s-12 {
  width: 100%; }

.offset-s-12 {
  margin-left: 100%; }

@media screen and (min-width: 540px) {
  .grid-m-1 {
    width: 8.33333%; }
  .offset-m-1 {
    margin-left: 8.33333%; } }

@media screen and (min-width: 540px) {
  .grid-m-2 {
    width: 16.66667%; }
  .offset-m-2 {
    margin-left: 16.66667%; } }

@media screen and (min-width: 540px) {
  .grid-m-3 {
    width: 25%; }
  .offset-m-3 {
    margin-left: 25%; } }

@media screen and (min-width: 540px) {
  .grid-m-4 {
    width: 33.33333%; }
  .offset-m-4 {
    margin-left: 33.33333%; } }

@media screen and (min-width: 540px) {
  .grid-m-5 {
    width: 41.66667%; }
  .offset-m-5 {
    margin-left: 41.66667%; } }

@media screen and (min-width: 540px) {
  .grid-m-6 {
    width: 50%; }
  .offset-m-6 {
    margin-left: 50%; } }

@media screen and (min-width: 540px) {
  .grid-m-7 {
    width: 58.33333%; }
  .offset-m-7 {
    margin-left: 58.33333%; } }

@media screen and (min-width: 540px) {
  .grid-m-8 {
    width: 66.66667%; }
  .offset-m-8 {
    margin-left: 66.66667%; } }

@media screen and (min-width: 540px) {
  .grid-m-9 {
    width: 75%; }
  .offset-m-9 {
    margin-left: 75%; } }

@media screen and (min-width: 540px) {
  .grid-m-10 {
    width: 83.33333%; }
  .offset-m-10 {
    margin-left: 83.33333%; } }

@media screen and (min-width: 540px) {
  .grid-m-11 {
    width: 91.66667%; }
  .offset-m-11 {
    margin-left: 91.66667%; } }

@media screen and (min-width: 540px) {
  .grid-m-12 {
    width: 100%; }
  .offset-m-12 {
    margin-left: 100%; } }

@media screen and (min-width: 768px) {
  .grid-m-1 {
    width: 8.33333%; }
  .offset-m-1 {
    margin-left: 8.33333%; } }

@media screen and (min-width: 768px) {
  .grid-m-2 {
    width: 16.66667%; }
  .offset-m-2 {
    margin-left: 16.66667%; } }

@media screen and (min-width: 768px) {
  .grid-m-3 {
    width: 25%; }
  .offset-m-3 {
    margin-left: 25%; } }

@media screen and (min-width: 768px) {
  .grid-m-4 {
    width: 33.33333%; }
  .offset-m-4 {
    margin-left: 33.33333%; } }

@media screen and (min-width: 768px) {
  .grid-m-5 {
    width: 41.66667%; }
  .offset-m-5 {
    margin-left: 41.66667%; } }

@media screen and (min-width: 768px) {
  .grid-m-6 {
    width: 50%; }
  .offset-m-6 {
    margin-left: 50%; } }

@media screen and (min-width: 768px) {
  .grid-m-7 {
    width: 58.33333%; }
  .offset-m-7 {
    margin-left: 58.33333%; } }

@media screen and (min-width: 768px) {
  .grid-m-8 {
    width: 66.66667%; }
  .offset-m-8 {
    margin-left: 66.66667%; } }

@media screen and (min-width: 768px) {
  .grid-m-9 {
    width: 75%; }
  .offset-m-9 {
    margin-left: 75%; } }

@media screen and (min-width: 768px) {
  .grid-m-10 {
    width: 83.33333%; }
  .offset-m-10 {
    margin-left: 83.33333%; } }

@media screen and (min-width: 768px) {
  .grid-m-11 {
    width: 91.66667%; }
  .offset-m-11 {
    margin-left: 91.66667%; } }

@media screen and (min-width: 768px) {
  .grid-m-12 {
    width: 100%; }
  .offset-m-12 {
    margin-left: 100%; } }

@media screen and (min-width: 960px) {
  .grid-l-1 {
    width: 8.33333%; }
  .offset-l-1 {
    margin-left: 8.33333%; } }

@media screen and (min-width: 960px) {
  .grid-l-2 {
    width: 16.66667%; }
  .offset-l-2 {
    margin-left: 16.66667%; } }

@media screen and (min-width: 960px) {
  .grid-l-3 {
    width: 25%; }
  .offset-l-3 {
    margin-left: 25%; } }

@media screen and (min-width: 960px) {
  .grid-l-4 {
    width: 33.33333%; }
  .offset-l-4 {
    margin-left: 33.33333%; } }

@media screen and (min-width: 960px) {
  .grid-l-5 {
    width: 41.66667%; }
  .offset-l-5 {
    margin-left: 41.66667%; } }

@media screen and (min-width: 960px) {
  .grid-l-6 {
    width: 50%; }
  .offset-l-6 {
    margin-left: 50%; } }

@media screen and (min-width: 960px) {
  .grid-l-7 {
    width: 58.33333%; }
  .offset-l-7 {
    margin-left: 58.33333%; } }

@media screen and (min-width: 960px) {
  .grid-l-8 {
    width: 66.66667%; }
  .offset-l-8 {
    margin-left: 66.66667%; } }

@media screen and (min-width: 960px) {
  .grid-l-9 {
    width: 75%; }
  .offset-l-9 {
    margin-left: 75%; } }

@media screen and (min-width: 960px) {
  .grid-l-10 {
    width: 83.33333%; }
  .offset-l-10 {
    margin-left: 83.33333%; } }

@media screen and (min-width: 960px) {
  .grid-l-11 {
    width: 91.66667%; }
  .offset-l-11 {
    margin-left: 91.66667%; } }

@media screen and (min-width: 960px) {
  .grid-l-12 {
    width: 100%; }
  .offset-l-12 {
    margin-left: 100%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-1 {
    width: 8.33333%; }
  .offset-xl-1 {
    margin-left: 8.33333%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-2 {
    width: 16.66667%; }
  .offset-xl-2 {
    margin-left: 16.66667%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-3 {
    width: 25%; }
  .offset-xl-3 {
    margin-left: 25%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-4 {
    width: 33.33333%; }
  .offset-xl-4 {
    margin-left: 33.33333%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-5 {
    width: 41.66667%; }
  .offset-xl-5 {
    margin-left: 41.66667%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-6 {
    width: 50%; }
  .offset-xl-6 {
    margin-left: 50%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-7 {
    width: 58.33333%; }
  .offset-xl-7 {
    margin-left: 58.33333%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-8 {
    width: 66.66667%; }
  .offset-xl-8 {
    margin-left: 66.66667%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-9 {
    width: 75%; }
  .offset-xl-9 {
    margin-left: 75%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-10 {
    width: 83.33333%; }
  .offset-xl-10 {
    margin-left: 83.33333%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-11 {
    width: 91.66667%; }
  .offset-xl-11 {
    margin-left: 91.66667%; } }

@media screen and (min-width: 1200px) {
  .grid-xl-12 {
    width: 100%; }
  .offset-xl-12 {
    margin-left: 100%; } }

.m-blog-post {
  display: block;
  margin-bottom: 90px; }
  .m-blog-post .image {
    display: block;
    width: 100%;
    height: 246px;
    margin-bottom: 25px;
    margin-top: 0;
    background-position: center;
    background-size: cover; }
    .m-blog-post .image.post-1 {
      background-image: url("../images/post-1.jpg"); }
    .m-blog-post .image.post-2 {
      background-image: url("../images/post-2.jpg"); }
    .m-blog-post .image.post-3 {
      background-image: url("../images/post-3.jpg"); }
    .m-blog-post .image.post-4 {
      background-image: url("../images/post-4.jpg"); }
    .m-blog-post .image.post-5 {
      background-image: url("../images/post-5.jpg"); }
    .m-blog-post .image.post-6 {
      background-image: url("../images/post-6.jpg"); }
    .m-blog-post .image.post-7 {
      background-image: url("../images/post-7.jpg"); }
    .m-blog-post .image.post-8 {
      background-image: url("../images/post-8.jpg"); }
    .m-blog-post .image.post-9 {
      background-image: url("../images/post-9.jpg"); }
    .m-blog-post .image.post-10 {
      background-image: url("../images/post-10.jpg"); }
    .m-blog-post .image.post-11 {
      background-image: url("../images/post-11.jpg"); }
    .m-blog-post .image.post-12 {
      background-image: url("../images/post-12.jpg"); }
    .m-blog-post .image.post-13 {
      background-image: url("../images/post-13.jpg"); }
  .m-blog-post .header + .text {
    margin-top: 10px; }
  .m-blog-post .-subtitle {
    margin-bottom: 25px; }

.m-partnership {
  margin-top: 70px; }
  .m-partnership .logo {
    display: block;
    width: 100%;
    height: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .m-partnership .logo.citi-foundation {
      background-image: url("../images/citi-foundation-logo.jpg"); }
    .m-partnership .logo.c40 {
      background-image: url("../images/c40-cities.png"); }
    .m-partnership .logo.wri {
      background-image: url("../images/wri-ross-cities-logo.png"); }

.m-accordion > li {
  list-style: none; }

.m-accordion .accordion-header {
  position: relative;
  margin-bottom: 45px;
  cursor: pointer; }
  .m-accordion .accordion-header:after {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 1px solid #009DA5;
    border-left: 1px solid #009DA5;
    transform: rotate(135deg);
    pointer-events: none;
    position: absolute;
    top: 0;
    right: -10px;
    transform-origin: 5px;
    transition: .2s ease-in; }
  .m-accordion .accordion-header.is-open:after {
    transform: rotate(225deg); }

.m-accordion .accordion-body {
  display: none;
  padding-bottom: 45px;
  margin-bottom: 45px; }
  .m-accordion .accordion-body:after {
    content: "";
    position: absolute;
    display: block;
    bottom: 45px;
    left: 33%;
    width: 33%;
    height: 2px;
    margin: 0 auto;
    background-color: #009DA5; }

.m-accordion .is-open + .accordion-body {
  display: block; }

.m-key-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 450px;
  padding: 30px; }
  .m-key-component .veil,
  .m-key-component .image {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .m-key-component .veil {
    background-color: rgba(0, 157, 165, 0.75); }
  .m-key-component .image {
    margin: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    background-position: center;
    background-size: cover; }
  .m-key-component .-first {
    background-image: url("../images/img-3.jpg"); }
  .m-key-component .-second {
    background-image: url("../images/img-4.jpg"); }
  .m-key-component .-third {
    background-image: url("../images/img-5.jpg"); }
  .m-key-component * {
    position: relative;
    z-index: 1; }
  .m-key-component span {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    line-height: 1.03;
    margin-bottom: 20px; }
