/*
 * General rules for all hover the proyect
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $font-family-1, Helvetica, Arial, sans-serif;
  color: $font-color-dark;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  background-color: $white;
}

a, button, input, select, textarea {
  &:focus {
    outline: 0;
  }
}

a {
  text-decoration: none;
  color: $font-color-dark;
}

ul {
  @extend %list-reset;
}

img {
  max-width: 100%;
}

.image {
  margin: 65px 0;
}

////////////////////
//**** utils  ****//
////////////////////
.is-flex {
  display: flex;
  display: -ms-box;
}

.is-bold {
  font-weight: bold;
}
