.header,
.text {
  &.-plain {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;

    & + & {
      margin-top: 45px;
    }

    & + .m-buttons-wrapper {
      margin-top: 38px;
    }
  }

  &.-title {
    position: relative;
    font-size: 70px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 10px;
    line-height: 1.2;
    text-align: center;
    padding-top: 65px;
    padding-bottom: 60px;

    &:before {
      content: "";
      @extend %centerx;
      top: 0;
      width: 140px;
      height: 5px;

      background-color: black;
    }

    &.-light {
      &:before {
        background-color: $font-color-light;
      }
    }

    &.-dark {
      &:before {
        background-color: $font-color-dark;
      }
    }

    &.-highlighted {
      &:before {
        background-color: $font-color-highlighted;
      }
    }
  }

  &.-subtitle {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.25;
    text-transform: uppercase;
  }

  &.-quote {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    padding: 75px 30px;
    margin-left: 20px;
    border-top: 5px solid $color-1;
    border-bottom: 5px solid $color-1;

    &:after,
    &:before {
      position: absolute;
      font-size: 70px;
      font-weight: 700;
      line-height: 1em;
      color: $color-1;
    }

    &:before {
      content: "“";
      top: 20px;
    }

    &:after {
      content: "”";
      bottom: 20px;
      right: 30px;
    }
  }

  &.-light {
    color: $font-color-light;
  }

  &.-dark {
    color: $font-color-dark;
  }

  &.-highlighted {
    color: $font-color-highlighted;
  }
}

strong {
  color: $font-color-highlighted;
}

.link {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.25;
  text-transform: uppercase;
}
