section {
  padding-bottom: 105px;
}

.l-header,
.l-know-more {
  position: relative;
  padding: 130px 0 120px;
  background-size: cover;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba($color-1, .75);
  }

  .-subtitle {
    padding-bottom: 90px;
    text-align: center;
  }
}

.l-header.-main {
  background-image: url('../images/img-1.jpg');
}

.l-know-more {
  &:before {
    background-color: rgba($color-1, 1);
  }
}

.l-index {
  padding: 20px 0;
  text-align: center;
  background-color: rgba($color-1, 1);

  ul {
    padding: 0;
  }

  li {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 20px;

    a {
      color: $font-color-light;
    }
  }

}

.l-main {
  padding-top: 100px;
}

.l-higlight {
  margin: 82px 0 63px;

  .-subtitle {
    margin-bottom: 20px;
  }
}

.l-blockquote {
  margin: 45px 0 80px;
}

.l-blogs,
.l-events {
  padding-bottom: 0;
}


