$post: 'post-1', 'post-2', 'post-3', 'post-4', 'post-5', 'post-6', 'post-7', 'post-8', 'post-9', 'post-10', 'post-11', 'post-12', 'post-13', 'post-14', 'post-15', 'post-16', 'post-17', 'post-18', 'post-19', 'post-20', 'post-21', 'post-22';


.m-blog-post {
  display: block;
  margin-bottom: 90px;

  .image {
    display: block;
    width: 100%;
    height: 246px;
    margin-bottom: 25px;
    margin-top: 0;
    background-position: center;
    background-size: cover;

    @for $i from 1 through length($post) {

      &.post-#{$i} {
        background-image: url('../images/#{nth($post, $i)}.jpg');
      }
    }
  }

  .header + .text {
    margin-top: 10px;
  }

  .-subtitle {
    margin-bottom: 25px;
  }
}
