.m-key-component {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: 450px;
  padding: 30px;

  .veil,
  .image {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .veil {
    background-color: rgba($color-1, .75);
  }

  .image {
    margin: 0;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    background-position: center;
    background-size: cover;
  }

  .-first {
    background-image: url("../images/img-3.jpg");
  }

  .-second {
    background-image: url("../images/img-4.jpg");
  }

  .-third {
    background-image: url("../images/img-5.jpg");
  }

  * {
    position: relative;
    z-index: 1;
  }

  span {
    color: $font-color-light;
    font-size: 70px;
    font-weight: bold;
    line-height: 1.03;
    margin-bottom: 20px;
  }
}
